<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>포켓몬 계산기</title>
        <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
        <style>
            .app table td {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="app">
            <h2>계산기</h2>
            <input type="text" placeholder="포켓몬 입력" v-model="search" style="font-size: 15px;"/>
            <img :src="image"/>
            <ul>
                <li v-for="elem in lists" v-if="search != '' && elem.name.indexOf(search) >= 0">
                    <a href="#1" @click="search = elem.name + '\r';ethnic = elem.ethnic;image = elem.icon">
                        {{ elem.name }}
                    </a>
                </li>
            </ul>
            <table border="0" width="100%">
                <tr>
                    <th v-for="i in 6" width="16.6%">
                        {{ ['분류', '종족값', '개체값', '노력치', '성격', '능력치'][i-1] }}
                    </th>
                </tr>
                <tr v-for="n in [0, 1, 2, 3, 4, 5]">
                    <th>{{ ['HP', '공격', '방어', '특공', '특방', '스피드'][n] + ':' }}</th>
                    <td>{{ ethnic[n] }}</td>
                    <td><input type="number" v-model.number="ivs[n]" v-bind:style="{ color: ivs[n] > 31 || ivs[n] < 0 ? 'red' : 'black', width: '30px' }"/></td>
                    <td><input type="number" v-model.number="evs[n]" v-bind:style="{ color: evs[n] > 252 || evs[n] < 0 ? 'red' : 'black', width: '30px' }"/></td>
                    <td v-if="n == 0">
                        <b>＋ －</b>
                    </td>
                    <td v-else>
                        <input type="radio" v-model.number="up" :value="n" />
                        <input type="radio" v-model.number="down" :value="n" />
                    </td>
                    <td>{{ values[n] }}</td>
                </tr>
                <tr>
                    <th>총합:</th>
                    <td>{{ eval(ethnic.join('+')) }}</td>
                    <td v-bind:style="{ color: ivSum > 186 || ivSum < 0 ? 'red' : 'black' }">{{ ivSum }}</td>
                    <td v-bind:style="{ color: evSum > 510 || evSum < 0 ? 'red' : 'black' }">{{ evSum }}</td>
                    <td>
                        <select v-model.number="selection">
                            <option value="11">수줍음</option>
                            <option value="22">노력</option>
                            <option value="33">온순</option>
                            <option value="44">변덕</option>
                            <option value="55">성실</option>
                            <option value="12">외로움</option>
                            <option value="13">고집</option>
                            <option value="14">개구쟁이</option>
                            <option value="15">용감</option>
                            <option value="21">대담</option>
                            <option value="23">장난꾸러기</option>
                            <option value="24">촐랑</option>
                            <option value="25">무사태평</option>
                            <option value="31">조심</option>
                            <option value="32">의젓</option>
                            <option value="34">덜렁</option>
                            <option value="35">냉정</option>
                            <option value="41">차분</option>
                            <option value="42">얌전</option>
                            <option value="43">신중</option>
                            <option value="45">건방</option>
                            <option value="51">겁쟁이</option>
                            <option value="52">성급</option>
                            <option value="53">명랑</option>
                            <option value="54">천진난만</option>
                        </select>
                    </td>
                    <td>Lv. 50</td>
                </tr>
            </table>
        </div>

        <script>
            new Vue({
                el: '.app',
                data: {
                    ethnic: [100, 100, 100, 100, 100, 100],
                    ivs: [31, 31, 31, 31, 31, 31],
                    evs: [0, 0, 0, 0, 0, 0],
                    up: 1, down: 1,
                    search: "",
                    image: "",
                    lists: []
                },

                computed: {
                    values: function() {
                        var temp = []

                        for (var i = 0; i < 6; i ++) {
                            var character = (this.up == i ? 1.2 : 1) + (this.down == i ? 0.8 : 1);

                            if (i == 0) {
                                temp.push(parseInt(this.ethnic[0] + this.ivs[0] / 2 + this.evs[0] / 8 + 60));
                            } else {
                                temp.push(parseInt((this.ethnic[i] + this.ivs[i] / 2 + this.evs[i] / 8 + 5) * character / 2));
                            }
                        }

                        return temp;
                    },

                    ivSum: function() {
                        return eval(this.ivs.join('+'));
                    },

                    evSum: function() {
                        return eval(this.evs.join('+'));
                    },

                    selection: {
                        get: function() {
                            return this.up * 10 + this.down;
                        },
                        set: function(newValue) {
                            this.up = parseInt(newValue / 10);
                            this.down = newValue % 10;
                        }
                    }
                },

                created() {
                    fetch('ethnic.json')
                     .then(response => response.json())
                     .then(json => { 
                        this.lists = json
                    })
                }
            })
        </script>
    </body>
</html>
