<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
		<title>Rating</title>
		<style>
			* { font-family: sans-serif; }
			.exquisite-body { color: white; margin: 0px; padding: 0px; }
			.exquisite-body .value-field { border: 0px; background: transparent; color: white; text-align: center; font-size: 16px; height: 30px; width: 50px; }
			.exquisite-body .state-box { background: linear-gradient(#F86F65, #FD915B); }
			.exquisite-body .state-box table td, th { text-align: center; }
			.exquisite-body .detail-card
			</style>
	</head>
	<body class="exquisite-body">
		<div class="state-box"><br/>
			<table width="100%">
				<tr>
					<th width="25%" style="line-height: 14px">성격보정<br/><font size="1">(클릭)</font></th>
					<th width="25%">종족값</th>
					<th width="25%">노력치</th>
					<th width="25%">개체값</th>
				</tr>
				<tr>
					<td height="44px">HP</td>
					<td>100</td>
					<td><input value="0" class="value-field"/></td>
					<td><input value="31" class="value-field"/></td>
				</tr>
				<tr>
					<td height="44px">공격</td>
					<td>100</td>
					<td><input value="0" class="value-field"/></td>
					<td><input value="31" class="value-field"/></td>
				</tr>
				<tr>
					<td height="44px">방어</td>
					<td>100</td>
					<td><input value="0" class="value-field"/></td>
					<td><input value="31" class="value-field"/></td>
				</tr>
				<tr>
					<td height="44px">특수공격</td>
					<td>100</td>
					<td><input value="0" class="value-field"/></td>
					<td><input value="31" class="value-field"/></td>
				</tr>
				<tr>
					<td height="44px">특수방어</td>
					<td>100</td>
					<td><input value="0" class="value-field"/></td>
					<td><input value="31" class="value-field"/></td>
				</tr>
				<tr>
					<td height="44px">스피드</td>
					<td>100</td>
					<td><input value="0" class="value-field"/></td>
					<td><input value="31" class="value-field"/></td>
				</tr>
			</table>
		</div>
		<div class="detail-card">
			
		</div>
	</body>
</html>
